body {
	padding-top: 50px;
	background-color: #f5f5f5;
}
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.navbar {
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
.navbar-toggle.pull-left {
	margin-left: 15px;
	margin-right: 0;
}
.navbar-toggle {
	border-color: #bbb;
	background-color: #ddd;
}
.navbar-toggle:hover {
	background-color: #bbb;
}
.navbar .navbar-toggle .icon-bar {
	background-color: #fff;
}
.table img {
	height: 60px;
	width: 60px;
}
.nav-2>li>a {
	padding: 5px 15px 5px 30px;
}
.alert ul li {
	list-style-type: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #fff;
		border-right: 1px solid #eee;
		height: auto !important;
	}
}
/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a {
	color: #fff;
	background-color: #AFCB51;
}
.nav-sidebar > .active > a:hover {
	color: #AFCB51;
	background-color: #eee;
}
/*
 * Main content
 */
 .main {
 	padding: 20px;
 }

 @media (min-width: 768px) {
 	.main {
 		padding-right: 40px;
 		padding-left: 40px;
 	}
 }
 .main .page-header {
 	margin-top: 0;
 }
/*
 * Placeholder dashboard ideas
 */
 .placeholders {
 	margin-bottom: 30px;
 	text-align: center;
 }
 .placeholders h4 {
 	margin-bottom: 0;
 }
 .placeholder {
 	margin-bottom: 20px;
 }
 .placeholder img {
 	display: inline-block;
 	border-radius: 50%;
 }